.titulo{
    font-size:48px;
    padding: 10px;
    text-align: center;
}
.palestrante{
    padding: 30px;
    font-size: 36px;
}
.subtitulo{
    padding: 20px;
    font-size: 36px;
}
.descricao{
    padding: 20px;
    text-align: center;
}
.palestras{
    display:contents;
    
    padding: 50px;

    justify-content: center;
    text-align: center;
    font-size: 20px;
}
.inscrever{
    margin: 150px;
    padding: 10px 40px;
    border: none;
    background-color: #bdf347;
    font-size: 20px;
    
}